@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{ 
    margin: 0;
    color:#fff;
    background-color: #1C1C1C;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"wdth" 100;
     background-color: #1C1C1C;
        
}
 
a {color: #fff;
    text-decoration: none;
}


ul{list-style: none; 
    padding: 0;
    margin: 0;
    
}

p {
    margin: 0;
}

p + p{
    margin-top: 15px;
}

img{
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6 { 
    font-weight: 500;
    margin: 0;
}
.container{ 
    box-sizing: border-box;
    max-width: 1170px;
   margin-left: auto;
   margin-right: auto;
   padding:0 15px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 165px;
    height: 40px;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    background: #F6762C;
    border-radius: 5px;

    transition: opacity 0.3s;
}

.btn :hover {
    opacity: 0.8;
}


/* Шапка */

.header {
 padding: 25px;
 margin: 10px;
 position: relative;
 z-index: 10;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.header_logo {}



.header_nav a {
 font-size: 14px;
 opacity: 0.7;
 transition: opacity 0.3s;   
        
}

.header_nav a:hover {
    
 opacity: 0.9;

}
.header_nav a.active {
 opacity: 1;
}



.header-list {
 display: flex;
 gap: 30px;
}

.main {}

/* Приветственная секция */



.welcome {
    box-sizing: border-box;
    min-height: 100vh;
   
    margin-top: -100px;
    padding: 240px 0;
  
    background-image: url(./images/welcome-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text{
    width: 550px;
    
}


.container {

}



.welcome_subtitle {
margin-bottom: 7px;
font-weight: 500;
letter-spacing: 0.1em;

}



.welcome_title {
font-size: 58px;

}



.welcome_desc {
margin: 40px 0;
font-size: 18px;
opacity: 0.7;
}

/* Список еды */

.food_list .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;

}

.food_list {
    padding: 100px 0;

}



.container {

}



.food-list__card {
    width: 260px;
    background-color: #312F30;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}



.food-list_img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__text_wrapper {
    padding: 30px 20px;
}

.food-list__title {
    font-size: 20px;
    margin-bottom: 15px ;

}



.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}



.food-list__img {

}

/* Order*/

.oder {
background-color: #312F30;
padding: 60px 0;
}



.oder .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 90px;



}



.order__img {
    max-width: 470px;

}



.oder__text {
    max-width: 360px;

}



.oder_title {
    font-size: 44px;
    margin-bottom: 25px;



}



.oder_desc { 
   opacity: 0.7;
   margin-bottom: 15px;


}



.oder__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #F6762C;


}
.oder__price + .oder__price{
    margin-left: 3px;
}


.oder__old-price {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    opacity: 0.5;
    color: #F6762C;
    
}

.oder .btn{
    margin-top: 10px;
}



.product {
    padding: 150px 0;
}





.product .container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}



.product_card {
    box-sizing: border-box;

    width: 555px;
    min-height: 300px;

    padding: 60px 30px 60px 290px;

    background-color: rgba(108, 114, 108, 0.8);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.product_card:nth-child(even) {
    padding-left: 30px;
    padding-right: 290px;
}


.product_title {
    font-size: 30px;
    margin-bottom: 20px;

}



.product_desc {
    opacity: 0.7;
    margin-bottom: 10px;
    
}



.product__price {
    letter-spacing: 0.1em;
    color: #F6762C;
}



.product__old-price {
        text-decoration: line-through;
        opacity: 0.5;
   
}

.product__price + .product__price{
    margin-left: 5px;
}


.btn--small {
    
        width: 140px;
        height: 40px;
    
        font-weight: 500;
        font-size: 12px;    

}
.product .btn{
    margin-top: 10px;
}

.card-queen{
    background-image: url(./images/product-1.jpg);

}
.card-hut {
    background-image: url(./images/product-2.jpg);

}
.card-king {
    background-image: url(./images/product-3.jpg);

}
.card-papa {
    background-image: url(./images/product-4.jpg);

}
/* Feedback */

.feedback {
padding-bottom: 200px;
}



.feedback .container {
display: flex;
align-items: center;
justify-content: space-between;
max-width: 880px;
}



.feedback_img {

}



.feedback_text {
margin: 0;
text-align: center;

width: 370px;

display: flex;
flex-direction: column;
}

.feedback_text::before {
content: url("./socials/quote.svg");

}

.feedback_desc{
text-align: center;
opacity: 0.7;
margin: 40px 0 30px;
}



.feedback__autor {
font-style: normal;
font-weight: 500;
font-size: 24px;
}



.feedback__subautor {
font-weight: 500;
font-size: 12px;
opacity: 0.7;
display: block;
}

/* Download */


.download {
background: #312F30;
padding: 60px 0;
}

.download .container {
    display: flex;
    justify-content: space-around;
}

.download_title {
    font-weight: 500;
    font-size: 40px;
}

.btn {


}

/* Footer */


.footer {
    padding: 120px 0;

}

.footer a{
font-size:12px ;
color: rgba(255, 255, 255, 0.8);
transition: color 0.3s ;
}
.footer a:hover{
color: rgba(255, 255, 255, 0.9);
    
}

.footer .footer_title {
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer_logo {
    width: 70px;
    /* display: inline-block; */
    margin-bottom: 20px;

}

.footer_nav {

}

.footer_link{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer_link + .footer_link {
margin-top: 10px;
}

.footer_link::before{
    width: 12px;
    height: 12px;
}


.foeter_link-mail::before {
    content: url("./socials/mail.svg");

}

.footer_link-web::before{
    content: url("./socials/global.svg");

}

.foter_nav {

}

.footer_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.footer_list-title {


}

.footer_inner-list {

}

.footer_list-item + .footer_list-item {
    margin-top: 15px;
}

.footer_socials {

}

.footer-title {

}

.footer_socials-icons {

}

.footer_social-link + .footer_social-link   {
    margin-left: 7px;

}